.container {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: inset 0 0 10px #f0f0f0;
}
.output {
    padding: 5px;
    overflow-x: scroll;
    max-height: 170px;
    border-top: 2px solid #fff;

}


.error {
    line-height: 1.2;
    cursor: default;
    box-sizing: border-box;
    list-style: none;
    font-family: Menlo, monospace;
    font-size: 11px;
    color: rgb(196, 26, 22);
    padding: 5px;

}

.settings {
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    opacity: 0.5;
    color: white;
    fill: white;
    stroke: white;
    transition: all 100ms ease-in;
}

.settings:hover {
    opacity: 1;
    transition: all 100ms ease-in;
}

.modal {
    position: absolute;
    top: 38px;
    left: 15px;
    width: 346px;
    height: 390px;
    /*background: rgba(255, 255, 255, 0.5);*/
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}
.modal-row {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.modal-column {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-direction: column;
    width: 100%;
}

.lib-item {
    margin-bottom: 10px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panels {
    display: flex;
    background: rgba(248,248,248, 1);
}

.tab-item {
    padding: 5px 11.5px 5px 11.5px;
    border: 1px solid grey;
    color: #000;
    background: rgba(248,248,248, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
}

.tab-item:hover {
    background: rgba(216,216,216, 1);
}

.tab-plus {
    padding: 5px 8px;
}
.tab-item-selected {
    background: rgba(216,216,216, 1);
}
.tab-item-name {
    margin-right: 10px;
}

.tab-item-close {
    transition: all 0.2s ease-in-out;
}

.tab-item-close:hover {
    transform: scale(1.1);
    font-weight: 600;
}